<?php

include_once "app_dev.php/page_navigation.php";

echo getNav;
?>

<!DOCTYPE html>
<html lang="nl">
<head>
    <title>De Bonte Koe</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Dit is een ALA opdracht voor de opleiding MD/AO van ID College" />
    <meta name="keywords" content="ALA, Bonte Koe, ID College" />
    <meta name="author" content="ALA Groepje" />
    <link rel="icon" href="bundles/bontekoecinema/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="bundles/bontekoecinema/css/stylesheet.css" type="text/css"  />



</head>
<body class="bioscoop">

<div class="banner_bioscoop">
    <div class="banner_div">
        <a href="../../index.php"><img src="bundles/bontekoecinema/images/Logo3.png" class="banner_img" /></a>
    </div>
    <div class="banner_div">
        <h1 class="banner_header">De Bioscoop</h1>
    </div>
    <div class="banner_buttons">
        <a href="#"><button>Home</button></a>
        <a href="app_dev.php/movie"><button>Films</button></a>
        <a href="app_dev.php/reservation"><button>Reserveren</button></a>
    </div>
</div>
<div class="main_div" >
    <center><h2 class="main_header">Welcome op de Bioscoop Module</h2></center>
    <br>
    <center><p class="main_p">
            Als u zoekt voor een restaurant om te eten, dan bent u op de juiste plek!!<br>
            Want het restaurant van De Bonte Koe is echt de perfecte plek voor als je gaat uiteten, wij hebben alles
            van elke vleesproduct naar elke vis product, voor jong en oud.<br>
            Natuurlijk mag uw huisdier ook mee want hebben ook een menukaart voor uw huisdier
            want wij denken niet alleen aan onze klanten maar ook aan hun geliefde
            Wist u ook dat als u hier eet tegelijk ook korting krijgt bij ons in de bioscoop
            Jazeker, bij elke bestelling zit een bepaalde kortings persentage vast
            Dus hoe meer u besteld des te meer korting u krijgt
            <br><br>
            Dus waar wacht u nog op reserveer zosnel mogelijk bij De Bonte Koe

        </p>
    </center>
    <br /><br /><br />

    <br /><br />
</div>

<!-- Side Menu -->
<div class="side_div">
    <br />
    <p class="side_p"><b>
            <br />
           Prijzen voor de kaarten
        </b>
    <br /><br/>
        <table class="prijzen_table">
        <thead>
        <tr>
            <td><b>Prijsnaam</b></td>
            <td><b>Prijs</b></td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Normaal</td>
            <td>&euro; 10,-</td>
        </tr>
        <tr>
            <td>Ochtend</td>
            <td>&euro; 7,50</td>
        </tr>
        <tr>
            <td>CJP</td>
            <td>&euro; 8,-</td>
        </tr>
        <tr>
            <td>Senior (65+)</td>
            <td>&euro; 7,50</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td><b>Let op: Voor 3D Films gelden de volgende toeslagen</b></td>
        </tr>
        <tr>
            <td>Exlusieve 3D-bril</td>
            <td>Normale prijs + &euro; 1,50</td>
        </tr>
        <tr>
            <td>Inclusieve 3D-bril</td>
            <td>Normale prijs + &euro; 2,50</td>
        </tr>
        </tfoot>
    </table>
    </p>
    <br />
</div>


</body>
</html>
